<div class="post">
    <h2>Morning <img style="display: inline;" src="img/wave.gif" width="30px" height="30px" alt="👋"/></h2>
    
    <p>My name is Jordan and i'm an android app developer.</p>
    
    <ul>
        <li>Currently working at <a href="https://www.asos.com/">ASOS</a> as an Android Engineer</li>
        <li>Couple of side projects on the <a href="https://play.google.com/store/apps/dev?id=7104925501019224102">Google Play Store</a></li>
        <li>Always down to 🏎️ , 🏂 or ⛸️</li>
    </ul>
    
    <p>Feel free to get in contact</p>

    {{ partial "links.html" . }}
</div>