<div class="links">
    <a href="{{ $.Site.Params.LinkGithub }}">{{ partial "icon-github.html" . }}</a>
    &nbsp;
    &nbsp;
    <a href="{{ $.Site.Params.LinkCV }}">{{ partial "icon-cv.html" . }}</a>
    &nbsp;
    &nbsp;
    <a href="{{ $.Site.Params.LinkLinkedIn }}">{{ partial "icon-linkedin.html" . }}</a>
    &nbsp;
    &nbsp;
    <a href="{{ $.Site.Params.LinkEmail }}">{{ partial "icon-email.html" . }}</a>
    &nbsp;
    &nbsp;
    <a href="{{ $.Site.Params.LinkGooglePlay }}">{{ partial "icon-googleplay.html" . }}</a>
</div>