html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

.header {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: white;
}

.header .left {
	float: left;
}
.header .left h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.header .left p {
	padding-top: 18px;
	padding-bottom: 18px;
}
.header .right {
	float: right;
	padding-right: 10px;
}

.content {
	background-color: #1484dd;
	padding-top: 50px;
}
.vertical-fill {
	height: 350px;
}
.vertical-fill .container {
	margin-top: 200px;
	text-align: center;
}
.vertical-fill .container h1 {
	color: white;
	font-size: 45px;
}
.vertical-fill .container p {
	font-size: 35px;
	color: white;
}