<div class="d-sm-none">
    <div class="flex-container flex-links">
        <div class="flex-link">
        <h6><a href="https://github.com/thementalgoose" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-github"></i></a></h6>
        </div>
        <div class="flex-link">
        <h6><a href="https://linkedin.com/in/jordanspencerfisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-linkedin-in"></i></a></h6>
        </div>
        <div class="flex-link">
        <h6><a href="mailto:thementalgoose@gmail.com" target="_blank" class="link-box background-dark"><i class="icon-move far fa-envelope"></i></a></h6>
        </div>
        <div class="flex-link">
        <h6><a href="https://play.google.com/store/apps/developer?id=Jordan+Fisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-google-play"></i></a></h6>
        </div>
        <div class="flex-link">
        <h6><a href="assets/JordanFisher.pdf" target="_blank" class="link-box background-dark">CV <i class="icon-move fas fa-download"></i></a></h6>
        </div>
    </div>
    </div>
    <div class="d-none d-sm-block">
    <div class="flex-container flex-links">
        <div class="flex-link">
        <h3><a href="https://github.com/thementalgoose" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-github"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="https://linkedin.com/in/jordanspencerfisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-linkedin-in"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="mailto:thementalgoose@gmail.com" target="_blank" class="link-box background-dark"><i class="icon-move far fa-envelope"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="https://play.google.com/store/apps/developer?id=Jordan+Fisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-google-play"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="assets/JordanFisher.pdf" target="_blank" class="link-box background-dark">CV <i class="icon-move fas fa-download"></i></a></h3>
        </div>
    </div>
</div>