<div class="d-sm-none">
    <div class="flex-container flex-links">
        <div class="flex-link">
        <h4><a href="{{linkGithub}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-brands fa-github"></i></a></h4>
        </div>
        <div class="flex-link">
        <h4><a href="{{linkCV}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-solid fa-file-pdf"></i></a></h4>
        </div>
        <div class="flex-link">
        <h4><a href="{{linkLinkedin}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-brands fa-linkedin-in"></i></a></h4>
        </div>
        <div class="flex-link">
        <h4><a href="mailto:{{email}}" target="_blank" class="link-box background-dark"><i class="icon-move far fa-solid fa-envelope"></i></a></h4>
        </div>
        <div class="flex-link">
        <h4><a href="{{linkPlay}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-brands fa-google-play"></i></a></h4>
        </div>
        <!-- <div class="flex-link">
        <h6><a href="assets/JordanFisher.pdf" target="_blank" class="link-box background-dark">CV <i class="icon-move fas fa-download"></i></a></h6>
        </div> -->
    </div>
    </div>
    <div class="d-none d-sm-block">
    <div class="flex-container flex-links">
        <div class="flex-link">
        <h3><a href="{{linkGithub}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-brands fa-github"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="{{linkCV}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-solid fa-file-pdf"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="{{linkLinkedin}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-brands fa-linkedin-in"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="mailto:{{email}}" target="_blank" class="link-box background-dark"><i class="icon-move far fa-solid fa-envelope"></i></a></h3>
        </div>
        <div class="flex-link">
        <h3><a href="{{linkPlay}}" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-brands fa-google-play"></i></a></h3>
        </div>
        <!-- <div class="flex-link">
        <h3><a href="assets/JordanFisher.pdf" target="_blank" class="link-box background-dark">CV <i class="icon-move fas fa-download"></i></a></h3>
        </div> -->
    </div>
</div>