<section id="projects" class="text-center background-gray">
  <h1 id="projects-title" class="animated">Projects</h1>
  <hr id="projects-break" class="animated" />
  <div class="spacer-5"></div>
  <div class="container">
    <div class="flex-container flex-projects text-center">
      <div *ngFor="let model of allProjects" class="project-item" >
        <div class="title">
          <h2>{{model.title}}</h2>
        </div>
        <hr class="thin" />
        <div class="project-details">
          <img src="{{model.logo}}" class="image"/>
          <div class="text">
            <p [innerHtml]="model.subtitle"></p>
            <ul *ngIf="model.list">
              <li *ngFor="let point of model.list">{{point}}</li>
            </ul>
            <div class="inline" *ngIf="model.links">
              <a *ngFor="let link of model.links" class="project-link" href="{{link.url}}" target="_blank">
                <p>{{link.text}} &nbsp;<i class="{{getIcon(link.type)}}"></i></p>
              </a>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="spacer-5"></div>
</section>
  