.links { 
    display: flex;

    a:hover { 
        color: var(--color)
    }

    .icon { 
        width: 40px;
        height: 40px;
        padding: 8px;
        fill: var(--color);

        &:hover { 
            background-color: var(--background-secondary);
            border-radius: 4px;
            color: var(--color);
        }
    }
}


.google-play { 
    img { 
        width: 200px;
    }
}

a { 
    &:hover { 
        color: var(--primary)
    }
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}