body {
	margin: 0px;
	padding: 0px;
}

p, h1, h2, h3, h4, h5, h6, a, li, ul, ol {
	font-family: 'Open Sans', Arial;
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
}

h1 {
	font-size: 70px;
}
h2 {
	font-size: 35px;
	line-height: 55px;
}
#portfolio_header {
	font-size: 45px;
}
h3 {
	font-size: 20px;
	padding-bottom: 15px;
} 

#about_div p {
	text-align: center;
	font-size: 18px;
	line-height: 30px;

}
#skills_div p, #contact_div p {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.element p {
	font-size: 18px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.larger_text_header {
	font-size: 20px;
	text-align: center;
}

.header {
	width: 100%;
	height: 42px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.centered {
	width: 1000px;
	margin: 0 auto;
}

#name {
	font-size: 40px;
	padding-top: 10px;
	padding-left: 20px;
	color: white;
}
.padding_header {
	height: 42px;
}
.header_overview {
	width: 100%;
	display: block;
	padding-bottom: 10px;
}

.header.visible {
	background-color: #6D6487;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.header.transparent {
	background-color: transparent;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#anchor_offset_about {
	position: absolute; 
	margin-top: -167px;
}
#anchor_offset {
	position: absolute; 
	margin-top: -42px;
}

.header_left {
	width: 300px;
	float: left;
}

.header_right {
	margin-left: 300px;
	width: 700px;
	padding-top: 30px;
	text-align: right;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 4px;
    -webkit-transition: .1s all ease-out;
    -moz-transition: .1s all ease-out;
    transition: .1s all ease-out;
}

nav a:hover, nav a.active {
	color: #A8A8A8;
	text-decoration: none;
}
#centered_nice_text {
	padding-bottom: 50px; 
	padding-left: 20%;
	padding-right: 20%;
}





.home_image {
	border-radius: 125px;
	margin-top: -100px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	display: none;

}
.centered_text {
	text-align: center;
}







.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#home_div {
	width: 100%;
	height: 100%;
	display: table;
	/* 1a3742 */
	background: #556269; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6D6487, #9c9f82); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6D6487, #9c9f82); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6D6487, #9c9f82); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6D6487, #9c9f82); /* Standard syntax */
}

.vertical_center {
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

.home_wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 1000px;
	padding-top: 50px;
}
.home_left {
	width: 500px;
	float: left;
}
.home_right {
	margin-left: 500px;
	width: 500px;
}

.home_wrapper p {
	text-align: center;
	color: white;
	font-family: 'Open Sans';
}
.home_wrapper #hi {
	font-size: 90px;
	padding-bottom: 30px;
}
.home_wrapper #intro {
	padding-top: 30px;
	font-size: 55px;
	padding-bottom: 50px;
}
#hi, #intro {

}




#text_link, #text_link_2 {
	color: #777777;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
    -webkit-transition: .1s all ease-out;
    -moz-transition: .1s all ease-out;
    transition: .1s all ease-out;
}
#text_link:hover, #text_link:active {
	color: gray;
	background-color: #AAAAAA;
}
#text_link_2:hover, #text_link_2:active {
	color: gray;
	background-color: #444444;
}







.padder_image {
	height: 125px;
}
#about_div {
	background-color: #E8E8E8;
}
.list_about {
	width: 1000px;
	clear: both;
}
.element_about {
	width: 300px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.fadein {
	display: block;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.fadeout {
	display: none;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}








#skills_div {
	color: white;
	width: 100%;
	display: table;
	background: #272822; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#272822, #1e1e1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#272822, #1e1e1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#272822, #1e1e1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#272822, #1e1e1e); /* Standard syntax */
}

.list {
	width: 1000px;
	clear: both;
	padding-top: 60px;
	padding-bottom: 30px;
}
.element {
	float: left;
	font-size: 16px;
}
#header_padder {
	margin-top: 42px;
}






#portfolio_div {
	background-color: #272822;
	color: white;
}
.portfolio_image_padder {
	margin-top: 20px;
	margin-bottom: 20px;
}









#education_div {
	background-color: #F8F8F8;
}
.education_overview {
	width: 1000px;
	height: 20px;
	background-color: #272822;
}
.education_gcse {
	width: 248px;
	height: 20px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #666688;
	float: left;
}
.education_alevel {
	width: 248px;
	height: 20px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #666688;
	float: left;
}
.education_degree {
	height: 20px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #666688;
	float: left;
}








#work_div {
	background-color: #F8F8F8;
}
.work_overview {
	width: 100%;
	height: 20px;
	background-color: #444455;
}
.work_filler {
	float: left;
	height: 20px;
}
.work_ms {
	height: 20px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #666688;
	float: left;
}
.work_freight {
	height: 20px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #666688;
	float: left;
}
.work_harveys {
	height: 20px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #666688;
	float: left;
}








#header_sub_text {
	font-size: 20px;
}






#contact_div {
	color: white;
	width: 100%;
	display: table;
	background: #272822; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#272822, #1e1e1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#272822, #1e1e1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#272822, #1e1e1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#272822, #1e1e1e); /* Standard syntax */
}
#contact_div .inputform {
	font-size: 20px;
	width: 400px;
	padding: 10px;
	margin-top: 20px;
	background-color: #333333;
	outline: none;
	border-radius: 2px;
	color: white;
    border: none; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.2);
    margin: 0 0 10px 0;
}
#contact_div textarea {
	font-family: Arial;
	margin-top: 20px;
	width: 400px;
	height: 140px;
	font-size: 20px;
	color: white;
	color: white;
	border-radius: 2px;
	padding: 10px;
	background-color: #333333;
	border: none;
	outline: none;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.2);
    margin: 0 0 10px 0;
}

*:focus {
	outline: none;
}

.submitform {
	width: 430px;
	padding: 10px;
	font-size: 20px;
	margin-top: 20px;
	border-radius: 2px;
	margin-bottom: 50px;
	color: white;
	background-color: #333333;
	border: none;
}
.submitform:hover {
	background-color: #999999;
	cursor: pointer;
}
.contact_center {
	margin: 0 auto;
	width: 450px;
}
img {
	border-radius: 4px;
	margin-bottom: -4px;
}


