<div class="container-margins">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top background-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" id="nav_title" href="#page-top"><strong>J</strong>ORDAN <strong>F</strong>ISHER</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" id="top-menu">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="particles-config" id="particles-js" style="width: 100%; height: 100vh; z-index: -1;"></div>

<header>
  <div class="flex-container height-100-percent">
    <div class="flex-centered-item text-white">
      <h1>Hi! I'm <span class="primary">Jordan Fisher</span>,<br/>
          <span class="element">I'm an Android App Developer</span></h1>
      <br/><br/>
      <h2><a href="#about" class="link-box-no-background"><i class="icon-move-without-background fas fa-angle-double-down"></i></a></h2>
    </div>
  </div>

  <div class="at-bottom">
    <app-links></app-links>
  </div>
</header>


<app-about></app-about>

<app-projects></app-projects>



<app-experience></app-experience>



<section id="contact" class="background-dark text-center text-white">
  <h1 id="contact-title" class="animated">Get in touch</h1>
  <hr id="contact-break" class="animated white" />
  <div class="spacer-5"></div>
  <p class="text-faded animated padding-10-px" id="contact-message">If there is anything that you want to get in touch about feel free to send me an email below</p>
  <div class="spacer-10"></div>
</section>



<section id="footer" class="background-dark-gray text-center">
  <a href="#page-top"><i class="fas top-of-page background-primary fa-chevron-up"></i></a>
  <div class="spacer-5"></div>
  <app-links></app-links>
  <div class="spacer-5"></div>
  <p class="text-faded">Jordan Fisher - <i class="far fa-copyright"></i>&nbsp;<span id="year"></span> - {{version}}</p>
  <div class="spacer-5"></div>
  <div class="flex-container"></div>
</section>



</div>