<div class="container-margins">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top background-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" id="nav_title" href="#page-top"><strong>J</strong>ORDAN <strong>F</strong>ISHER</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" id="top-menu">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="particles-config" id="particles-js" style="width: 100%; height: 100vh; z-index: -1;"></div>

<header>
  <div class="flex-container height-100-percent">
    <div class="flex-centered-item text-white">
      <h1>Hi! I'm <span class="primary">Jordan Fisher</span>,<br/>
          I'm a<span class="element">n Android App Developer</span></h1>
      <br/><br/>
      <h2><a href="#about" class="link-box-no-background"><i class="icon-move-without-background fas fa-angle-double-down"></i></a></h2>
    </div>
  </div>
</header>

<section id="about" class="background-light">
  <h1 id="about-title" class="animated text-center">About</h1>
  <hr id="about-break" class="animated" />
  <div class="spacer-5"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-a" id="about-me"><i class="fas fa-user-circle"></i></h1>
        <div id="about-me-box" class="animated padding-10-px">
          <h3>Me</h3>
          <p>My name is Jordan, i'm <span id="age">XX</span> years old and I live in Leicestershire, England
            <br/><strong><a target="_blank" href="cv">Download my CV <i class="icon-rotate fas fa-link"></i></a></strong>
            <br/><strong><a target="_blank" href="https://goo.gl/46Z5eT">View my Calendar <i class="icon-rotate fas fa-link"></i></a></strong>
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-b" id="about-passion" data-delay="200"><i class="fas fa-heart"></i></h1>
        <div id="about-passion-box" class="animated padding-10-px" data-delay="200">
          <h3>Passion</h3>
          <p>I love to make interesting software systems and get stuck in with a cool framework! That and skiing and snowboarding</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-c" id="about-info" data-delay="400"><i class="fas fa-pause-circle"></i></h1>
        <div id="about-info-box" class="animated padding-10-px" data-delay="400">
          <h3>Currently</h3>
          <p>Currently I am a Software Developer (primarily for Android) for <br/><strong><a href="https://rolleragency.co.uk">Roller Agency <i class="icon-rotate fas fa-link"></i></a></strong></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-d" id="about-future" data-delay="600"><i class="fas fa-chevron-circle-right"></i></h1>
        <div id="about-future-box" class="animated padding-10-px" data-delay="600">
          <h3>Future</h3>
          <p>Hoping to become an Android / Software developer for the newest technology and new gadgets</p>
        </div>
      </div>
    </div>
  </div>
  <hr id="about-break-2" class="animated" />
  <div class="spacer-5"></div>
  <div class="container">
    <div class="flex-container flex-skills">
      <div class="flex-skill-item-large animated" id="skill-android" data-delay="0">
        <img class="item-1" src="/assets/img/icon-android-white.png">
        <h3>Android + Kotlin</h3>
        <p><span class="primary">7 years</span> (10+ projects)</p>
        <p>
          <a class="skill-click" href="https://realm.io/">Realm</a>, 
          <a class="skill-click" href="https://square.github.io/retrofit/">Retrofit</a>, 
          <a class="skill-click" href="https://github.com/bumptech/glide">Glide</a>, 
          <a class="skill-click" href="https://developer.android.com/topic/libraries/architecture/room">ROOM</a>, 
          <a class="skill-click" href="https://firebase.google.com/docs/firestore/">Firebase (Firestore)</a>, 
          <a class="skill-click" href="https://academy.realm.io/posts/eric-maxwell-mvc-mvp-and-mvvm-on-android/">MVVM and MVC architecture</a>, 
          activity / fragment lifecycles, 
          android kotlin extensions, 
          etc..</p>
      </div>
      <div class="flex-skill-item-large animated" id="skill-java" data-delay="50">
        <img class="item-6" src="/assets/img/icon-java-white.png">
        <h3>Java</h3>
        <p><span class="primary">7+ years</span> (20+ projects)</p>
        <p>
          Android, 
          JSP, 
          Servlets, 
          Crypto, 
          JARs, 
          Coroutines, 
          <a class="skill-click" href="https://developer.android.com/topic/libraries/data-binding/">Data binding</a>, 
          <a class="skill-click" href="https://github.com/ReactiveX/RxJava">RxJava2</a>,
          Observable sequences</p>
      </div>
      <div class="flex-skill-item animated" id="skill-mean" data-delay="100">
        <img class="item-3" src="/assets/img/icon-rx-white.png">
        <h3>ReactiveX</h3>
        <p><span class="primary">2+ years</span> (4 projects)</p>
        <p>
          <a class="skill-click" href="https://github.com/ReactiveX/RxJava">RxJava2</a> + 
          <a class="skill-click" href="https://square.github.io/retrofit/">Retrofit</a> + 
          <a class="skill-click" href="https://realm.io/">Realm</a> stack, 
          Reactive style programming with MVVM architecture. Observables, 
          Subjects, 
          Disposables </p>
      </div>
      <div class="flex-skill-item animated" id="skill-firebase" data-delay="150">
        <img class="item-9" src="/assets/img/icon-firebase-white.png">
        <h3>Firebase</h3>
        <p><span class="primary">1 year</span> (5 projects)</p><p>Android / iOS / Web (Angular6) integration using <a class="skill-click" href="https://firebase.google.com/docs/firestore/">Firestore</a> + Functions + Hosting</p>
      </div>
      <div class="flex-skill-item animated" id="skill-csharp" data-delay="200">
        <img class="item-8" src="/assets/img/icon-swift-white.png">
        <h3>Swift</h3>
        <p><span class="primary">4 months</span> (2 projects)</p><p>Swift 4.2, 
          Cocoa pods, 
          Storyboards with Autolayout + constraints, 
          MVVM architecture with <a class="skill-click" href="https://github.com/ReactiveX/RxSwift">RxSwift</a> + <a href="https://github.com/RxSwiftCommunity/RxDataSources">RxDataSources</a>, 
        </p>
      </div>
      <div class="flex-skill-item animated" id="skill-git" data-delay="250">
        <img class="item-5" src="/assets/img/icon-git-white.png">
        <h3>Git</h3>
        <p><span class="primary">5+ years</span> (every project)</p><p>Travis CI for Docker (Github) - Bitbucket Pipelines for automated builds (including <a href="https://travis-ci.org/thementalgoose/jsf-website">this project!</a>)</p>
      </div>
      <div class="flex-skill-item animated" id="skill-azure" data-delay="300">
        <img class="item-7" src="/assets/img/icon-flutter-white.png">
        <h3>Flutter</h3>
        <p><span class="primary">2 months</span> (0.5+ projects)</p><p>Material + Cupertino Widgets, SQFLite, Firebase integration</p>
      </div>
      <div class="flex-skill-item animated" id="skill-spring" data-delay="350">
        <img class="item-2" src="/assets/img/icon-spring-white.png">
        <h3>Spring IO</h3>
        <p><span class="primary">1.5 years</span> (3 projects)</p><p>Complete Web Apps using Gradle, 
          Hibernate, 
          Cucumber, 
          Travis CI</p>
      </div>
      <div class="flex-skill-item animated" id="skill-gradle" data-delay="400">
        <img class="item-10" src="/assets/img/icon-gradle-white.png">
        <h3>Gradle</h3>
        <p><span class="primary">4+ years</span> (10+ projects)</p><p>Automated tasks and dependency management with Gradle + Travis CI + Bitbucker Pipelines</p>
      </div>
      <div class="flex-skill-item animated" id="skill-python" data-delay="450">
        <img class="item-4" src="/assets/img/icon-python-white.png">
        <h3>Python</h3>
        <p><span class="primary">3 years</span> (20+ scripts)</p><p>Scripting Language of Choice</p>
      </div>
    </div>
  </div>
  <div class="spacer-5"></div>
</section>

<section id="projects" class="text-center background-gray">
  <h1 id="projects-title" class="animated">Projects</h1>
  <hr id="projects-break" class="animated" />
  <div class="spacer-5"></div>
  <div class="container">
    <div class="flex-container flex-projects text-center">
      <div class="flex-project-item animated" id="project-gal-app-amiwrong" style="background-image: url(assets/img/gal-app-communimates.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4><strong>CommuniMates</strong></h4>
            <p>Machine Learing Advice Platform (<a href="https://hack24.co.uk">Hack24</a>)<br/><strong class="primary">Android App</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="https://www.youtube.com/watch?v=bGU1Q54qHow">Video</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-app-amiwrong" style="background-image: url(assets/img/gal-app-amiwrong.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4><strong>Am I Wrong</strong></h4>
            <p>Moral Ambiguity App (<a href="https://hack24.co.uk">Hack24</a>)<br/><strong class="primary">Android App</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=studio.roboto.hack24">App Store</a> <a target="_blank" href="https://www.youtube.com/watch?v=yOQyyWd_l88">Video</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-app-drivingtutor" data-delay="50" style="background-image: url(assets/img/gal-app-drivingtutor.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4><strong>Driving Tutor</strong></h4>
            <p>AIO Driving Revision Tool<br/><strong class="primary">Android App</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=tmg.drivingtutor">App Store</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-web-j21" data-delay="100" style="background-image: url(assets/img/gal-web-j21.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>J21 Driving School</h4>
            <p>Business Website for J21 Driving School<br/><strong class="primary">Website</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="http://j21drivingschool.co.uk">View Site</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-spacegame" data-delay="150" style="background-image: url(assets/img/gal-spacegame.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>Educational Space Game</h4>
            <p>Space Game with 8 players built in Java<br/><strong class="primary">Game</strong></p>
          </div>
          <div class="bottom text-center">
            <p>University project<br/>Not available for download yet</p>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-app-cmai" data-delay="200" style="background-image: url(assets/img/gal-app-cmai.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4><strong>CMAI</strong></h4>
            <p>Easy installation of CyanogenMod Apps<br/><strong class="primary">Android App</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="http://forum.xda-developers.com/android/apps-games/app-cm-app-installer-t2959922">XDA Link</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-web-old" data-delay="250"  style="background-image: url(assets/img/gal-web-old.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>jordanfisher.me</h4>
            <p>My personal website (currently on v6)<br/><strong class="primary">Website</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="assets/old/">V5</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-web-flatfinder" data-delay="300"  style="background-image: url(assets/img/gal-web-flatfinder.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>FlatFinder</h4>
            <p>Complete Rental Website for Students<br/><strong class="primary">Website</strong></p>
          </div>
          <div class="bottom text-center">
            <p>University project<br/>Not available for download yet</p>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-web-bookmark" data-delay="350"  style="background-image: url(assets/img/gal-web-bookmark.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>Bookmark Explorer</h4>
            <p>Bookmark Utility Website (Built in MEAN stack)<br/><strong class="primary">Website</strong></p>
          </div>
          <div class="bottom text-center">
            <p>University project<br/>Not available for download yet</p>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-app-schedule" data-delay="400" style="background-image: url(assets/img/gal-app-schedule.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4><strong>Schedule</strong></h4>
            <p>All In One Resource Management tool<br/><strong class="primary">Android App</strong></p>
          </div>
          <div class="bottom text-center">
            <p>University dissertation<br/>Not available for download yet</p>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-java3d" data-delay="450"  style="background-image: url(assets/img/gal-java3d.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>Java3D Simulation</h4>
            <p>Space Simulation built in Java3D<br/><strong class="primary">Simulation</strong></p>
          </div>
          <div class="bottom text-center">
            <p>University project<br/>Not available for download yet</p>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-space-invaders" data-delay="500"  style="background-image: url(assets/img/gal-space-invaders.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>Space Invaders</h4>
            <p>Space Invaders game, 
              built in Java<br/><strong class="primary">Game</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="https://github.com/thementalgoose/space-invaders-java">View Source / JAR</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-snake" data-delay="500"  style="background-image: url(assets/img/gal-snake.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>Retro Snake</h4>
            <p>Snake game, 
              built in Java<br/><strong class="primary">Game</strong></p>
          </div>
          <div class="bottom text-center">
            <a target="_blank" href="https://github.com/thementalgoose/snake-java">View Source / JAR</a>
          </div>
        </div>
      </div>
      <div class="flex-project-item animated" id="project-gal-chat-server" data-delay="550" style="background-image: url(assets/img/gal-chat-server.png);">
        <div class="overlay">
          <div class="top text-center">
            <h4>Chat Server</h4>
            <p>Java-based Networking Chat Server<br/><strong class="primary">Program</strong></p>
          </div>
          <div class="bottom text-center">
            <p>Code lost :(</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-5"></div>
</section>

<section id="experience" class="background-light">
  <h1 id="education-title" class="text-center animated">Experience</h1>
  <hr id="education-break" class="animated" />
  <div class="container cd-container" id="cd-timeline">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-item text-center animated" id="experience-roller-2-icon">
        <div class="cd-timeline-icon">
          <i class="fas fa-code-branch"></i>
        </div>
      </div>
      <div class="cd-timeline-content">
        <div class="animated" id="experience-roller-2">
          <h3 class="primary">Software Developer (mainly Android)</h3>
          <h2><a href="https://rolleragency.co.uk">Roller Agency <i class="icon-rotate fas fa-link"></i></a></h2>
          <p>General Software Developer for Roller Agency, contributring to a variety of different apps and technologies</p>
          <p>Apps built fully in Kotlin, using MVVM architecture / RxJava2 / Databinding. Use Realm + Retrofit + RxJava2 for reactive flow of data throughout apps. 4+ added</p>
          <p>Written Firestore-based web + android + iOS app. Use of firebase functions, auth, hosting, storage, etc.</p>
          <p>Decided on architecture design for new projects (MVVM architecture, reactive paradigm)</p>
          <p>Built POC for theorised SDK the year before, now used in production for mutliple apps</p>
          <p>Contributor to iOS projects using MVVM architecture / RxSwift / RxDataSources</p>
          <p>Contributor to Angular6 web project based on Firebase Realtime Database</p>
          <p>Experience with Google Tag Manager and Craft websites</p>
        </div>
        <span class="cd-date animated" id="experience-roller-2-date">Oct 17 - Current</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-item text-center animated" id="experience-roller-1-icon">
        <div class="cd-timeline-icon">
          <i class="fas fa-code-branch"></i>
        </div>
      </div>
      <div class="cd-timeline-content">
        <div class="animated" id="experience-roller-1">
          <h3 class="primary">Android App Developer</h3>
          <h2><a href="https://rolleragency.co.uk">Roller Agency <i class="icon-rotate fas fa-link"></i></a></h2>
          <p>Experience in projects using Realm, Retrofit, Glide, ROOM, Firebase, LibGDX (mobile game), most of which are deployed on the app store.</p>
          <p>Experience in MVC and MVVM architectures</p>
          <p>5+ apps developed during my time, most of which are on the play store</p>
          <p>Co-authored, and contributor to design and implementation of large scale Android-based "SDK" project, whcih streamlined custom app development by handling backend services and communication. Offered guidance and support on a consultancy basis</p>
        </div>
        <span class="cd-date animated" id="experience-roller-1-date">Jun 16 - Jun 17</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-item text-center animated" id="experience-uni-icon">
        <div class="cd-timeline-icon">
          <i class="fas fa-graduation-cap"></i>
        </div>
      </div>
      <div class="cd-timeline-content">
        <div class="animated" id="experience-uni">
          <h3 class="primary">Computer Science Degree</h3>
          <h2><a href="https://le.ac.uk">University Of Leicester <i class="icon-rotate fas fa-link"></i></a></h2>
          <p>BSc Degree, <strong>1st Class</strong> (86% overall, with year in industry)</p>  
          <p>Some of the modules taken:</p>
          
            <ul>
              <li>Program Design</li>
              <li>Requirements Engineering</li>
              <li>Computer Systems</li>
              <li>Logic and Problem Solving</li>
              <li>Automata, Language and Computation</li>
              <li>Operating Systems, Networks and Distributed Systems</li>
              <li>Functional Programming (haskell)</li>
              <li>Software Engineering</li>
              <li>Computational Intelligence for Software Engineering</li>
              <li>Web Technologies</li>
              <li>Cryptography and Intenet Security</li>
            </ul>
          
          <p>Full transcript available on request</p>
        </div>
        <span class="cd-date animated" id="experience-uni-date">Sept 14 - Aug 2018</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-item text-center animated" id="experience-lutterworth-icon">
        <div class="cd-timeline-icon">
          <i class="fas fa-graduation-cap"></i>
        </div>
      </div>
      <div class="cd-timeline-content">
        <div class="animated" id="experience-lutterworth">
          <h3 class="primary">A Levels</h3>
          <h2><a href="http://www.lutterworthcollege.org.uk/">Lutterworth College <i class="icon-rotate fas fa-link"></i></a></h2>
          
            <ul>
              <li>Mathematics (A2): <strong>A*</strong></li>
              <li>Physics (A2): <strong>A</strong></li>
              <li>Computing (A2): <strong>A</strong></li>
              <li>Chemistry (AS): <strong>A</strong></li>
            </ul>
        </div>
        <span class="cd-date animated" id="experience-lutterworth-date">Sept 2012 - Sept 2014</span>
      </div>
    </div>
    <div class="flex-container"></div>
  </div>
</section>

<section id="contact" class="background-dark text-center text-white">
  <h1 id="contact-title" class="animated">Fancy a chat?</h1>
  <hr id="contact-break" class="animated white" />
  <div class="spacer-5"></div>
  <p class="text-faded animated padding-10-px" id="contact-message">If there's anything I can help you with feel free start a chat with me through the widget below<br/>Alternatively, download my CV below</p>
  <div class="spacer-10"></div>
</section>

<section id="footer" class="background-dark-gray text-center">
  <a href="#page-top"><i class="fas top-of-page background-primary fa-chevron-up"></i></a>
  <div class="spacer-5"></div>
  <div class="d-sm-none">
    <div class="flex-container flex-links">
      <div class="flex-link">
        <h6><a href="https://github.com/thementalgoose" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-github"></i></a></h6>
      </div>
      <div class="flex-link">
        <h6><a href="https://linkedin.com/in/jordanspencerfisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-linkedin-in"></i></a></h6>
      </div>
      <div class="flex-link">
        <h6><a href="mailto:thementalgoose@gmail.com" target="_blank" class="link-box background-dark"><i class="icon-move far fa-envelope"></i></a></h6>
      </div>
      <div class="flex-link">
        <h6><a href="https://play.google.com/store/apps/developer?id=Jordan+Fisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-google-play"></i></a></h6>
      </div>
      <div class="flex-link">
        <h6><a href="assets/JordanFisher.pdf" target="_blank" class="link-box background-dark">CV <i class="icon-move fas fa-download"></i></a></h6>
      </div>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <div class="flex-container flex-links">
      <div class="flex-link">
        <h3><a href="https://github.com/thementalgoose" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-github"></i></a></h3>
      </div>
      <div class="flex-link">
        <h3><a href="https://linkedin.com/in/jordanspencerfisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-linkedin-in"></i></a></h3>
      </div>
      <div class="flex-link">
        <h3><a href="mailto:thementalgoose@gmail.com" target="_blank" class="link-box background-dark"><i class="icon-move far fa-envelope"></i></a></h3>
      </div>
      <div class="flex-link">
        <h3><a href="https://play.google.com/store/apps/developer?id=Jordan+Fisher" target="_blank" class="link-box background-dark"><i class="icon-move fab fa-google-play"></i></a></h3>
      </div>
      <div class="flex-link">
        <h3><a href="assets/JordanFisher.pdf" target="_blank" class="link-box background-dark">CV <i class="icon-move fas fa-download"></i></a></h3>
      </div>
    </div>
  </div>
  <div class="spacer-5"></div>
  <p class="text-faded">Jordan Fisher <i class="far fa-copyright"></i><span id="year"></span></p>
  <div class="spacer-5"></div>
  <div class="flex-container"></div>
</section>



</div>