<div class="container-margins">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top background-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" id="nav_title" href="#page-top"><strong>J</strong>ORDAN <strong>F</strong>ISHER</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" id="top-menu">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="particles-config" id="particles-js" style="width: 100%; height: 100vh; z-index: -1;"></div>

<header>
  <div class="flex-container height-100-percent">
    <div class="flex-centered-item text-white">
      <h1>Hi! I'm <span class="primary">Jordan Fisher</span>,<br/>
          <span class="element">I'm an Android App Developer</span></h1>
      <br/><br/>
      <h2><a href="#about" class="link-box-no-background"><i class="icon-move-without-background fas fa-angle-double-down"></i></a></h2>
    </div>
  </div>

  <div class="at-bottom">
    <app-links></app-links>
  </div>
</header>

<section id="about" class="background-light">
  <h1 id="about-title" class="animated text-center">About</h1>
  <hr id="about-break" class="animated" />
  <div class="spacer-5"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-a" id="about-me"><i class="fas fa-user-circle"></i></h1>
        <div id="about-me-box" class="animated padding-10-px">
          <h3>Me</h3>
          <p>My name is Jordan, i'm <span id="age">XX</span> years old and I live in England
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-b" id="about-passion" data-delay="200"><i class="fas fa-heart"></i></h1>
        <div id="about-passion-box" class="animated padding-10-px" data-delay="200">
          <h3>Passion</h3>
          <p>I love to build software solutions and mobile apps, alongside F1, skiing, snowboarding and ice skating</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-c" id="about-info" data-delay="400"><i class="fas fa-pause-circle"></i></h1>
        <div id="about-info-box" class="animated padding-10-px" data-delay="400">
          <h3>Currently</h3>
          <p>I am a Mobile Software Engineer for <br/><strong><a href="https://capitalone.co.uk">Capital One <i class="icon-rotate fas fa-link"></i></a></strong></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 padding-10-px">
        <h1 class="animated secondary item-d" id="about-future" data-delay="600"><i class="fas fa-chevron-circle-right"></i></h1>
        <div id="about-future-box" class="animated padding-10-px" data-delay="600">
          <h3>Future</h3>
          <p>Get better and better at Android development, but who knows!</p>
        </div>
      </div>
    </div>
  </div>
  <hr id="about-break-2" class="animated" />
  <div class="spacer-5"></div>
  <div class="container">
    <div class="flex-container flex-skills">
      <div *ngFor="let skill of skills" 
        [class.flex-skill-item-large]="skill.type == 'large'"
        [class.flex-skill-item]="skill.type == 'regular'"
        class="animated">
        <img [ngStyle]="{'background-color': skill.backgroundColor}" src="{{skill.imageUrl}}"/>
        <h3>{{skill.name}}</h3>
        <p><span class="primary">{{skill.subtitle}}</span></p>
        <p [innerHtml]="skill.description"></p>
      </div>
    </div>
  </div>
  <div class="spacer-5"></div>
</section>

<section id="projects" class="text-center background-gray">
  <h1 id="projects-title" class="animated">Projects</h1>
  <hr id="projects-break" class="animated" />
  <div class="spacer-5"></div>
  <div class="container">
    <div class="flex-container flex-projects text-center">
      <div *ngFor="let x of projects" class="flex-project-item animated" [ngStyle]="{'background-image': 'url(' + x.backgroundImage + ')'}">
        <div class="overlay">
          <div class="top text-center">
            <h4><strong>{{x.name}}</strong></h4>
            <p>{{x.subtitle}}<br/><strong class="primary">{{x.category}}</strong></p>
          </div>
          <div class="bottom text-center">
            <a *ngFor="let button of x.buttons" target="_blank" href="{{button.url}}">{{button.label}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-5"></div>
</section>



<section id="experience" class="background-light">
  <h1 id="education-title" class="text-center animated">Experience</h1>
  <hr id="education-break" class="animated" />
  <div class="container cd-container" id="cd-timeline">
    <div *ngFor="let ex of experience" class="cd-timeline-block">
      <div class="cd-timeline-img cd-item text-center animated">
        <div class="cd-timeline-icon">
          <i [class.fa-code-branch]="ex.type == 'work'" [class.fa-graduation-cap]="ex.type == 'education'" class="fas"></i>
        </div>
      </div>
      <div class="cd-timeline-content">
        <div class="animated">
          <h3 class="primary">{{ex.name}}</h3>
          <h2><a href="{{ex.placeUrl}}">{{ex.place}} <i class="icon-rotate fas fa-link"></i></a></h2>
          <div [innerHtml]="ex.description"></div>
        </div>
        <span class="cd-date animated">{{ex.startDate}} - {{ex.endDate}}</span>
      </div>
    </div>
    <div class="flex-container"></div>
  </div>
</section>



<section id="contact" class="background-dark text-center text-white">
  <h1 id="contact-title" class="animated">Get in touch</h1>
  <hr id="contact-break" class="animated white" />
  <div class="spacer-5"></div>
  <p class="text-faded animated padding-10-px" id="contact-message">If there is anything that you want to get in touch about feel free to send me an email below</p>
  <div class="spacer-10"></div>
</section>



<section id="footer" class="background-dark-gray text-center">
  <a href="#page-top"><i class="fas top-of-page background-primary fa-chevron-up"></i></a>
  <div class="spacer-5"></div>
  <app-links></app-links>
  <div class="spacer-5"></div>
  <p class="text-faded">Jordan Fisher - <i class="far fa-copyright"></i>&nbsp;<span id="year"></span> - {{version}}</p>
  <div class="spacer-5"></div>
  <div class="flex-container"></div>
</section>



</div>